* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
}

header {
  background: #141414;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 65px;
  z-index: 100;
}

header .logo img {
  width: 150px;
}

.navigation {
  display: flex;
  margin-right: 400px;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a {
  color: #de0611;
}

.search .fa-search {
  color: #fff;
  position: flex;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  letter-spacing: 10px;
}

.search .fa-gift {
  color: #fff;
  position: flex;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  letter-spacing: 10px;

}

.search .fa-bell {
  color: #fff;
  position: flex;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
}

.search img {
  position: flex;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 10px;
}

.likesIcon {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 0.2s ease;

}

.description span {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}

.banner {
  position: relative;
  width: 100%;
  margin-top: 30px;
  min-height: 100vh;
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.banner .bg {
  margin-left: 550px;
  margin-top: -200px;
  width: 800px;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


/* gradiente por cima da imagem */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  z-index: 2;

}

.bg {
  width: 400px;
  height: 300px;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 0%, black 80%, transparent 0%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

/* conteúdo em cima da imagem e do gradiente */
.banner .content {
  position: relative;
  z-index: 3;
  color: white;
  padding: 20px;
}

.title {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  color: white;
  margin: 15px 0;
  margin-top: 90px;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 500px;
}

.logo2 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  letter-spacing: 5px;
}

.logo2 .n {
  color: #e50914;
  padding-right: 10px;
  font-size: 30px;
}

.top10-badge {
  background: rgb(237, 4, 4);
  color: white;
  width: 40px;
  padding: 8px 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  margin: 10px 0px;
}

.top10-badge .top10-text1 {
  margin-left: 5px;
}

.melhorCasal {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  margin-top: 25px;
}

.banner .content span i {
  background: #00C040;
  color: #fff;
  padding: 0 8px;
  margin: 10px;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}

.banner .content p {
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5em;
  color: #fff;
  margin: 0px 0 20px;
}

.banner .content h4 {
  font-size: 1em;
  font-weight: 300;
  color: #fff;
}

.banner .content .buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  /* espaço entre os itens */
}

.banner .content .buttons a {
  position: relative;
  display: flex;
  margin-right: 10px;
  background: #fff;
  color: #333;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
}

.banner .content .buttons a:nth-child(2) {
  background: #333;
  color: #fff;

}

.banner .content .buttons a i {
  margin-right: 6px;
}

.hd {
  display: inline-block;
  padding: 2px 6px;
  background: #333;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;

}

.juntos {
  color: #00C040;
  font-style: normal;
  font-weight: bold;
}

.carousel-section {
  background-color: #141414;
  color: white;
  padding: 30px 60px;
}

.carousel-section h2 {
  font-size: 24px;
  margin-bottom: 10px;

}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scrollbar-width: none;
  /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.carousel img {
  width: 240px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.carousel img:hover {
  transform: scale(1.1);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Oculta o menu hambúrguer em telas grandes */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* Exibe o botão e oculta o menu em telas pequenas */
@media (max-width: 768px) {

  .banner .bg {
    margin-left: 10px;
    margin-top: -80px;
    width: 100%;
    height: 600px;
  }


  .menu-toggle {
    display: block;
  }

  .navigation {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 70px;
    /* ou altura do seu header */
    right: 0;
    width: 200px;
    padding: 10px;
    z-index: 1000;
  }

  .navigation.show {
    display: flex;
  }

  .navigation li {
    margin: 10px 0;
  }
}


@media (max-width: 425px) {

  .navigation {
    top: 60px;
  }

  .classificacao {
    margin: 0;
  }

  .logo2 {
    margin-top: -20px;
    position: absolute;
    font-size: 12px;
  }

  .logo2 .n {
    padding-right: 5px;
    font-size: 25px;
  }

  .description span {
    display: none;
  }

  .likesIcon {
    display: none;
  }

  .banner .content p {
    font-size: 14px;
    line-height: 1.2rem;
    margin: 0px 0px 10px;
  }

  .banner .content .buttons {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .top10-badge {
    font-size: 9px;
    width: 30px;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  .melhorCasal {
    font-size: 18px;
    margin-top: 10px;
  }

  .top10 {
    margin: 0px;
  }

  .classificacao {
    margin: 0px;
  }

  .banner .content h4 {
    font-size: 14px;
  }

  .title {
    font-size: 32px;
    margin-top: 250px;
    margin-bottom: 0px;
  }

  .banner {
    padding: 0px;
  }

  .navigation {
    left: 100px;
  }

  header {
    height: 60px;
  }

  header .logo img {
    width: 120px;
    position: absolute;
    margin-left: -50px;
    margin-top: -16px;

  }

  .search .fa-search {
    padding-right: 0px;
    letter-spacing: 5px;
  }

  .search .fa-gift {
    display: none;
    padding-right: 0px;
    letter-spacing: 5px;

  }

  .search .fa-bell {
    padding-right: 0px;
  }

  .search img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 5px;
  }

  .search {
    margin-right: -50px;
  }


  .banner .content {
    padding-bottom: 0px;
  }

  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 2;
  }
}